.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

section {
  height: 100vh; /* Full height for each section */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start; /* Snap to the start of each section */
}

.section-welcome {
  background: #f0f0f0; /* Or any other background */
  position: relative;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section-origin {
  min-height: 100vh; /* Minimum viewport height */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add some padding */
}

.origin-input-container {
  text-align: center;
}

.section-results {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}
